<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ss.spider.system.user.mapper.UserMapper">
    <resultMap id="BaseUserMap" type="com.ss.spider.system.user.model.User">
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="depart_id" property="departId" jdbcType="VARCHAR"/>
        <result column="org_id" property="orgId" jdbcType="VARCHAR"/>
        <result column="work_code" property="workCode" jdbcType="VARCHAR"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="salt" property="salt" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="brithday" property="brithday" jdbcType="VARCHAR"/>
        <result column="app_on_off" property="appOnOff" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="position" property="position" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="picture_url" property="pictureUrl" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="init_flag" property="initFlag" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="BIGINT"/>
        <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR"/>
        <result column="delete_time" property="deleteTime" jdbcType="BIGINT"/>
        <result column="delete_user_id" property="deleteUserId" jdbcType="VARCHAR"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
    </resultMap>
    <!--分页查询账户列表-->
    <select id="pages" parameterType="com.ss.spider.system.user.model.User" resultMap="BaseUserMap">
        select gu.user_id, gu.depart_id, gu.org_id, gu.work_code, gu.login_name, gu.password, gu.salt,
        gu.name, gu.sex, gu.brithday, gu.app_on_off, gu.status, gu.position, gu.email, gu.phone_number, gu.picture_url,
        gu.remark, gu.init_flag, gu.ip, gu.create_time, gu.create_user_id, gu.update_time, gu.update_user_id,
        gu.delete_time, gu.delete_user_id
        from cw_ge_user gu
        left join cw_ge_user_role_ref urr on gu.user_id = urr.user_id
        left join cw_ge_role gr on urr.role_id = gr.role_id
        <where>

            <if test="orgId != null and orgId != ''">
                and gu.org_id = #{orgId, jdbcType=VARCHAR}
            </if>

            <if test="loginName != null and loginName != ''">
                and gu.login_name like CONCAT('%', #{loginName, jdbcType=VARCHAR}, '%')
            </if>

            <if test="workCode != null and workCode != ''">
                and gu.work_code like CONCAT('%', #{workCode, jdbcType=VARCHAR}, '%')
            </if>

            <if test="name != null and name != ''">
                and gu.name like CONCAT('%', #{name, jdbcType=VARCHAR}, '%')
            </if>

            <if test="phoneNumber != null and phoneNumber != ''">
                and gu.phone_number like CONCAT('%', #{phoneNumber, jdbcType=VARCHAR}, '%')
            </if>

            <choose>
                <when test="status != null">
                    and gu.status = #{status, jdbcType=INTEGER}
                </when>
                <otherwise>
                    and gu.status in(0, 1)
                </otherwise>
            </choose>

            <if test="roleName != null and roleName != ''">
                and (gr.role_cname like CONCAT('%', #{roleName, jdbcType=VARCHAR}, '%')
                or gr.role_ename like CONCAT('%', #{roleName, jdbcType=VARCHAR}, '%') )
            </if>
        </where>
        group by gu.user_id
        order by gu.create_time desc
    </select>
    <!--查询用户信息-->
    <select id="list" parameterType="com.ss.spider.system.user.model.User" resultMap="BaseUserMap">
        select user_id, depart_id, org_id, work_code, login_name, password, salt,
        name, sex, brithday, app_on_off, status, position, email, phone_number, picture_url,
        remark, init_flag, create_time, create_user_id, update_time, update_user_id, delete_time, delete_user_id
        from cw_ge_user
        where 1 = 1
        <if test="userId != null and userId != ''">
            and user_id = #{userId, jdbcType=VARCHAR}
        </if>

        <if test="departId != null and departId != ''">
            and depart_id = #{departId, jdbcType=VARCHAR}
        </if>

        <if test="orgId != null and orgId != ''">
            and org_id = #{orgId, jdbcType=VARCHAR}
        </if>
        <if test="orgIds != null">
            and org_id in
            <foreach collection="orgIds" item="item" open="(" close=")" separator=",">
                #{item, jdbcType=VARCHAR}
            </foreach>
        </if>
        <if test="loginName != null and loginName != ''">
            and login_name = #{loginName, jdbcType=VARCHAR}
        </if>

        <if test="workCode != null and workCode != ''">
            and work_code = #{workCode, jdbcType=VARCHAR}
        </if>

        <if test="email != null and email != ''">
            and email = #{email, jdbcType=VARCHAR}
        </if>

        <if test="name != null and name != ''">
            and name = #{name, jdbcType=VARCHAR}
        </if>

        <if test="position != null and position != ''">
            and position = #{position, jdbcType=VARCHAR}
        </if>

        <if test="phoneNumber != null and phoneNumber != ''">
            and phone_number = #{phoneNumber, jdbcType=VARCHAR}
        </if>

        <choose>
            <when test="status != null">
                and status = #{status, jdbcType=INTEGER}
            </when>
            <otherwise>
                and status in(0, 1)
            </otherwise>
        </choose>
    </select>
    <!--查询账户信息-->
    <select id="gets" parameterType="map" resultMap="BaseUserMap">
        select user_id, depart_id, org_id, work_code, login_name, password, salt,
        name, sex, brithday, app_on_off, status, position, email, phone_number, picture_url,
        remark, init_flag, ip, create_time, create_user_id, update_time, update_user_id, delete_time, delete_user_id
        from cw_ge_user
        where 1 = 1
        <choose>
            <when test="userId != null and userId != ''">
                and user_id = #{userId, jdbcType=VARCHAR}
            </when>
            <when test="userIds != null">
                and user_id in
                <foreach collection="userIds" item="item" open="(" separator="," close=")">
                    #{item, jdbcType=VARCHAR}
                </foreach>
            </when>
        </choose>

        <if test="departId != null and departId != ''">
            and depart_id = #{departId, jdbcType=VARCHAR}
        </if>

        <if test="orgId != null and orgId != ''">
            and org_id = #{orgId, jdbcType=VARCHAR}
        </if>

        <if test="workCode != null and workCode != ''">
            and work_code = #{workCode, jdbcType=VARCHAR}
        </if>

        <if test="email != null and email != ''">
            and email = #{email, jdbcType=VARCHAR}
        </if>

        <if test="loginName != null and loginName != ''">
            and login_name = #{loginName, jdbcType=VARCHAR}
        </if>

        <if test="name != null and name != ''">
            and name = #{name, jdbcType=VARCHAR}
        </if>

        <if test="position != null and position != ''">
            and position = #{position, jdbcType=VARCHAR}
        </if>

        <if test="phoneNumber != null and phoneNumber != ''">
            and phone_number = #{phoneNumber, jdbcType=VARCHAR}
        </if>

        <choose>
            <when test="status != null">
                and status = #{status, jdbcType=INTEGER}
            </when>
            <otherwise>
                and status in(0, 1)
            </otherwise>
        </choose>

        <if test="searchKey != null and searchKey != ''">
            and (name LIKE CONCAT('%', #{searchKey, jdbcType=VARCHAR},'%')
            OR login_name LIKE CONCAT('%', #{searchKey, jdbcType=VARCHAR},'%'))
        </if>
    </select>
    <!--查询账户拥有角色-->
    <select id="rlist" parameterType="java.lang.String" resultType="java.lang.String">
        select cu.role_id from cw_ge_user_role_ref cu
        LEFT JOIN cw_ge_role cr ON cr.role_id = cu.role_id
        where cr.status = 1
        <if test="userId != null and userId != ''">
            and cu.user_id = #{userId, jdbcType=VARCHAR}
        </if>
    </select>
    <!--新建账户-->
    <insert id="save" parameterType="com.ss.spider.system.user.model.User">
		insert into cw_ge_user(user_id, depart_id, org_id, work_code, login_name, password, salt,
				name, sex, brithday, app_on_off, status, position, email, phone_number, picture_url,
				remark, ip, create_time, create_user_id, update_time, update_user_id)
		values(#{userId, jdbcType=VARCHAR},				#{departId, jdbcType=VARCHAR},		#{orgId, jdbcType=VARCHAR},
			   #{workCode, jdbcType=VARCHAR},			#{loginName, jdbcType=VARCHAR},		#{password, jdbcType=VARCHAR},
			   #{salt, jdbcType=VARCHAR},				#{name, jdbcType=VARCHAR},			#{sex, jdbcType=INTEGER},	
			   #{brithday, jdbcType=VARCHAR},			#{appOnOff, jdbcType=INTEGER},		#{status, jdbcType=INTEGER},
			   #{position, jdbcType=VARCHAR},			#{email, jdbcType=VARCHAR},			#{phoneNumber, jdbcType=VARCHAR},
			   #{pictureUrl, jdbcType=VARCHAR},			#{remark, jdbcType=VARCHAR},		#{ip, jdbcType=VARCHAR},
			   #{createTime, jdbcType=BIGINT},         #{createUserId, jdbcType=VARCHAR}, #{updateTime, jdbcType=BIGINT},
			   #{updateUserId, jdbcType=VARCHAR})
	</insert>
    <!--重置用户密码-->
    <update id="updateNotNull" parameterType="com.ss.spider.system.user.model.User">
        update cw_ge_user
        <set>
            <if test="departId != null and departId != ''">
                depart_id = #{departId, jdbcType=VARCHAR},
            </if>

            <if test="orgId != null and orgId != ''">
                org_id = #{orgId, jdbcType=VARCHAR},
            </if>

            <if test="workCode != null and workCode != ''">
                work_code = #{workCode, jdbcType=VARCHAR},
            </if>

            <if test="loginName != null and loginName != ''">
                login_name = #{loginName, jdbcType=VARCHAR},
            </if>

            <if test="password != null and password != ''">
                password = #{password, jdbcType=VARCHAR},
            </if>

            <if test="salt != null and salt != ''">
                salt = #{salt, jdbcType=VARCHAR},
            </if>

            <if test="name != null and name != ''">
                name = #{name, jdbcType=VARCHAR},
            </if>

            <if test="sex != null">
                sex = #{sex, jdbcType=INTEGER},
            </if>

            <if test="brithday != null and brithday != ''">
                brithday = #{brithday, jdbcType=VARCHAR},
            </if>

            <if test="appOnOff != null">
                app_on_off = #{appOnOff, jdbcType=INTEGER},
            </if>

            <if test="status != null">
                status = #{status, jdbcType=INTEGER},
            </if>

            <if test="position != null and position != ''">
                position = #{position, jdbcType=VARCHAR},
            </if>

            <if test="email != null and email != ''">
                email = #{email, jdbcType=VARCHAR},
            </if>

            <if test="phoneNumber != null and phoneNumber != ''">
                phone_number = #{phoneNumber, jdbcType=VARCHAR},
            </if>

            <if test="pictureUrl != null and pictureUrl != ''">
                picture_url = #{pictureUrl, jdbcType=VARCHAR},
            </if>

            <if test="remark != null and remark != ''">
                remark = #{remark, jdbcType=VARCHAR},
            </if>

            <if test="updateTime != null">
                update_time = #{updateTime, jdbcType=BIGINT},
            </if>

            <if test="updateUserId != null and updateUserId !=  ''">
                update_user_id = #{updateUserId, jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId, jdbcType=VARCHAR}
    </update>

    <update id="update" parameterType="com.ss.spider.system.user.model.User">
		update CW_GE_USER
		   set DEPART_ID = #{departId, jdbcType=VARCHAR},
			   ORG_ID    = #{orgId, jdbcType=VARCHAR},
			   WORK_CODE = #{workCode, jdbcType=VARCHAR},
			   LOGIN_NAME  = #{loginName, jdbcType=VARCHAR},
			   NAME        = #{name, jdbcType=VARCHAR},
			   SEX 		   = #{sex, jdbcType=INTEGER},
			   BRITHDAY    = #{brithday, jdbcType=VARCHAR},
			   APP_ON_OFF = #{appOnOff, jdbcType=INTEGER},
			   STATUS      = #{status, jdbcType=INTEGER},
			   POSITION    = #{position, jdbcType=VARCHAR},
			   EMAIL       = #{email, jdbcType=VARCHAR},
			   PHONE_NUMBER  = #{phoneNumber, jdbcType=VARCHAR},
			   PICTURE_URL = #{pictureUrl, jdbcType=VARCHAR},
			   REMARK      = #{remark, jdbcType=VARCHAR},
			   UPDATED_TIME    = #{updateTime, jdbcType=BIGINT},
			   UPDATED_USERID  = #{updateUserId, jdbcType=VARCHAR}
		 where USER_ID = #{userId, jdbcType=VARCHAR}
	</update>
    <!--逻辑删除用户信息-->
    <update id="discard" parameterType="map">
        update CW_GE_USER
        set STATUS = -1,
        DELETED_TIME = #{deleteTime, jdbcType=BIGINT},
        DELETED_USERID = #{deleteUserId, jdbcType=VARCHAR}
        <where>
            <choose>
                <when test="userId != null and userId != ''">
                    USER_ID = #{userId, jdbcType=VARCHAR}
                </when>
                <when test="userIds != null">
                    USER_ID in
                    <foreach collection="userIds" item="item" open="(" separator="," close=")">
                        #{item, jdbcType=VARCHAR}
                    </foreach>
                </when>
                <otherwise>
                    1 != 1
                </otherwise>
            </choose>
        </where>
    </update>

    <delete id="remove" parameterType="map">
        delete from CW_GE_USER
        <where>
            <choose>
                <when test="userId != null and userId != ''">
                    USER_ID = #{userId, jdbcType=VARCHAR}
                </when>
                <when test="userIds != null">
                    USER_ID in
                    <foreach collection="userIds" item="item" open="(" separator="," close=")">
                        #{item, jdbcType=VARCHAR}
                    </foreach>
                </when>
                <otherwise>
                    1 != 1
                </otherwise>
            </choose>
        </where>
    </delete>
</mapper>